$colors: (
  primary: (
    base: #2d6cea,
    lightest: #2eaade,
    darkest: #1b5cdc
  ),
  success: (
    base: #4eca7a,
    lightest: #96cf59,
    darkest: #369a5d
  ),
  warning: (
    base: #ffa83f,
    lightest: #ffcc63,
    darkest: #ff895f
  ),
  danger: (
    base: #df484a,
    lightest: #f27075,
    darkest: #984848
  ),
  light: (
    base: #f7f7f7,
    lightest: #fcfcfc,
    darkest: #f0f0f0
  ),
  dark: (
    base: #7e7a7a,
    lightest: #a5a2a2,
    darkest: #292929
  )
) !default;

@function color($color, $complementary: null) {
  @if map-has-key($colors, $color) {
    $type: map-get($colors, $color);
    @if $complementary == null {
      @if type-of($type) == map {
        @return map-get(map-get($colors, $color), 'base');
      } @else {
        @return map-get($colors, $color);
      }
    } @else {
      @return map-get(map-get($colors, $color), $complementary);
    }
  }
}
